.menu {
    width: 300px; 
    height: 90%; 
    background-color: var(--granit-dark-blue-3); 
    position: fixed;
    top: 0%;
    left: -1450px; 
    transition: left 0.3s ease; 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.menu-open {
    left: 0px;
}
@media (max-width: 1100px) {
    .menu {
        clear: both;
/*        top: 20px;*/
    }
    .menu ul {
        margin-top: 60px;
    }
    .menu li a {  
        color: rgba(255, 255, 255, 1.0);
    }
    .menu li {
        float: none;
        margin-left: 0px;
        margin-bottom: 20px;
        font-size: 30px;
        color: rgba(255, 255, 255, 1.0);
    }
}
/* Стилизуйте активные пункты меню */
.active {
  color: red; /* Цвет активного пункта */
}